* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: #f6b7c6;
}

.app {
    background: #fff;
    width: 100%;
    max-width: 300px;
    margin: 50px auto 0;
    border-radius: 5px;
    padding: 15px;
}

.app h1 {
    font-weight: 15px;
    color: black;
    font-weight: 300;
    border-bottom: 1px solid #f6b7c6;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: black;
    font-weight: 300;
}

.btn {
    background: white;
    color: black;
    font-weight: 300;
    width: 100%;
    border: 1px solid #660c21;
    padding: 5px;
    margin: 5px 0;
    text-align: left;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background: black;
    color: white;
}

#next-btn {
    background: #f6b7c6;
    color: black;
    font-weight: 300;
    border: 0;
    padding: 5px;
    margin: 10px auto 0;
    border-radius: 2px;
    cursor: pointer;
    display: none;
}